# VS Code
.vscode/

# Python
.venv/
__pycache__/
*.pyc

# Environment variables / secrets
.env
.env.*

# DVCLive experiment outputs
dvclive/

# Local MLflow data
/mlflow.db
/mlflow.db-*
/mlartifacts/
/mlruns/
